body{
    background-color: #f9f9f9;
}
section{
    width: 854px;
    height: 580px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 20px;
}
section>.logo{
    width: 854px;
    height: 88px;
    /* background-color: salmon; */
}
section>.logo>a{
    display: block;
    width: 49px;
    height: 48px;
    background: url("../images/reg/milogo.png") no-repeat;
    margin: 0 auto;
}
section>h4{
    font-size: 30px;
    text-align: center;
    font-weight: normal;
}
section>.reg_box{
    width: 332px;
    height: 280px;
    margin: 0 auto;
    /* background-color: slateblue; */
    position: relative;
}
section>.reg_box>h4{
    padding-bottom: 5px;
    color: #333;
    font-weight: normal;
    font-size: 15px;
}
section>.reg_box>.address,section>.reg_box>.phone{
    width: 300px;
    height: 40px;
    padding-left: 14px;
    line-height: 40px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #e8e8e8;
    color: #555;
    cursor: pointer;
}
section>.reg_box>.phone{
    text-indent: 60px;
}
section>.reg_box>aside{
    width: 45px;
    height: 41px;
    /* background-color: springgreen; */
    border: 1px solid #ccc;
    position: absolute;
    top: 25px;
    right: 16px;
}
section>.reg_box>aside>span{
   width: 0;
   height: 0;
   border: 8px solid transparent;
   border-top: 8px solid #cac5c5;
   position: absolute;
   top: 16px;
   left: 15px;
}
section>.reg_box>.title1{
    margin-bottom: 15px;
    color: #333;
}
section>.reg_box>.aside1{
    width: 55px;
    height: 42px;
    line-height: 42px;
    /* background-color: salmon; */
    border-right: 1px solid #ccc;
    position: absolute;
    top: 128px;
    left: 0;
    padding-left: 5px;
}
section>.reg_box>i{
    display: block;
    height: 35px;
    line-height: 35px;
    font-style: normal;
    color: #ef6000;
    margin-top: 15px;
    display: none;
}
section>.reg_box>.sub{
    width: 332px;
    height: 42px;
    background-color: #ff6700;
    margin-top: 15px;
    border: 1px solid rgba(186,186,186,.3);
    border: 0 none;
    color: #fff;
}
section>.last{
    width: 854px;
    height: 40px;
    /* background-color: skyblue; */
    text-align: center;
    margin-top: 100px;
}
section>.last>a{
    font-weight: 600;
    color: black;
}
/* 底部 */
footer{
    width: 100%;
    margin-top: 20px;
    /* background-color: slateblue; */
}
footer>ul{
    width: 300px;
    height: 20px;
    /* background-color: springgreen; */
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}
footer>ul>li{
    border-right: 1px solid #ccc;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
}
strong{
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top: 6px solid #ccc;
    position: absolute;
    top: 145px;
    left: 40px;
}
.n{
    border-right: 0;
}
footer>p{
    width: 100%;
    margin-top: 30px;
    text-align: center;
    color: #9d9d9d
}